@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  font-family: Roboto;
  font-style: normal;
}

body {
  padding: 0 10px;
  font-family: Roboto;
  font-style: normal;
}

.main {
  background: url(../img/website_10_2.jpg) 0 0/auto 100% no-repeat;
  /* background-image: url('../img/mid_1.jpg');
  background-repeat: no-repeat;
  background-position: center; */
  max-width: 1200px;
  height: 800px;
  margin: 0px auto;
  /* height: 100%; */
  /* height: 500px; */
}

.main__logo {
  position: relative;
  top: 10px;
  left: 10%;
}

.main__logo img {
  width: 300px;
}

.main__btn-golf,
.main__btn-venue,
.main__btn-book {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: italic;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #9dbda5;
  width: 200px;
  height: 40px;
}

.main__btn-golf {
  top: 320px;
  left: 40px;
  z-index: 10;
}

.main__btn-venue {
  top: 380px;
  left: 40px;
  z-index: 9;
}

.main__btn-book {
  top: 380px;
  left: 70%;
  z-index: 8;
}

@media (max-width: 767px) {
  .main__btn-golf {
    top: 280px;
  }
  .main__btn-venue {
    top: 320px;
  }
  .main__btn-book {
    top: 360px;
    left: 40px;
  }
}

.main__str-visit,
.main__str-address,
.main__str-contact,
.main__list-contact,
.main_copyright {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.main__str-visit {
  top: -100px;
  left: 65%;
  z-index: 7;
}

.main__str-address {
  top: -100px;
  left: 61%;
  z-index: 6;
  font-style: italic;
}

.main__str-contact {
  top: -80px;
  left: 65%;
  z-index: 5;
}

.main__list-contact {
  top: -90px;
  left: 60%;
  z-index: 4;
  font-style: italic;
}

.main_copyright {
  top: 530px;
  left: 10%;
  z-index: 4;
  font-style: italic;
}

@media (max-width: 767px) {
  .main__str-visit {
    top: 15px;
    left: 40px;
  }
  .main__str-address {
    top: 15px;
    left: 30px;
  }
  .main__str-contact {
    top: 25px;
    left: 40px;
  }
  .main__list-contact {
    top: 10px;
    left: 0px;
  }
}
